p {
    font-size: 30px;
    color: green;
    transform: scale(2);
    transform-origin: left;
}

a[target="_blank"] {
    background-color: red;
}

a[href="#"] {
    font-size: 34px;
}

a:hover {
    background-color: greenyellow;
}